 #title{
	width: 97%;
	background:#F08080;
	text-align: center;
	font-size: 15pt;
	
 }
#menu  {
	margin:7px;
color:#7FFFD4;
	  font-style: italic;
    font-weight: bold;
    font-family: Arial;
    color: gray;
    font-size: 15pt;


}
div1
{ text-align:right;
  font-size: 15pt;
  font-family: Arial;
}
  div2
  {text-align:right;
  font-size: 15pt;
  font-family: Arial;
}
div3
{text-align:right;
  font-size: 15pt;
  font-family: Arial;
}
div4
{text-align:right;
  font-size: 15pt;
  font-family: Arial;
